# .gitignore

# Ignore dataset directory
/dataset/

# Ignore specific model directories and files
/models/Detectron 2 Orange dieases segmentation/
/models/efficientnet_best.pth
/models/mobilenet_best.pth
/models/Orange detection counting.pt
/models/Regnet_best.pth
/models/resnet_best.pth
/models/vit_classification_model.pth